@charset "UTF-8";
@import '../../../styles/variables.scss';

.latest-products {

  &__title {
    margin: 3rem 0rem 2rem 3rem;
    color:  $body__text-color-secundary;
    font-size: 2.5em;
    font-weight: 300;
  }
}
