.categories__section {
	background-color: white;
	border: 1px solid $sherpon-color-box-border;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	margin-bottom: 10px;
}