.home-section-edit {

  &__edit-bar {
    padding: 1em;
    width: 100%;
    background-color: #80808045;
    font-weight: 100;
    //...
    margin-bottom: -49px;
    z-index: 100;
    position: relative;

    a {
      color: white;
      cursor: pointer;
    }
  }
}
