body {
	background-color: $body-background-color;
  color: $body-text-color;
}

.store__container {
  margin: 0 auto;
  /* max-width: 1280px; */
  width: 100%;
}
@media #{$medium-and-up} {
  .store__container {
    width: 85%;
  }
}
@media #{$large-and-up} {
  .store__container {
    width: 70%;
  }
}

.hero__section {
  background-color: white;
  border: 1px solid #e5e5e5;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-bottom: 10px;
}
/**
 * @example
 * @extend .box-white;
 */
.box-white {
	background-color: white;
	border: 1px solid $box-white__border-color;
	border-bottom-left-radius: $box__border-radius;
	border-bottom-right-radius: $box__border-radius;
	border-top-left-radius: $box__border-radius;
	border-top-right-radius: $box__border-radius;
	margin-bottom: $box__margin-bottom !important;
	padding: $box__padding;
}

/******************************************************************************/
/**
 * @mixin
 * @name box
 * @description simple block pattern
 * @example
 * @include box;
 */
@mixin box {
	margin-bottom: $box__margin-bottom;
	padding: $box__padding;
}

/**
 * @mixin
 * @name box--empty
 * @description empty block pattern
 * @example
 * @include box--empty;
 */
@mixin box--empty {
	@include box;
	border: $box__border solid $box__border-color;
	border-bottom-left-radius: $box__border-radius;
	border-bottom-right-radius: $box__border-radius;
	border-top-left-radius: $box__border-radius;
	border-top-right-radius: $box__border-radius;
}

/**
 * @mixin
 * @name box--white
 * @description empty block pattern
 * @example
 * @include box--white;
 */
@mixin box--white {
	@include box--empty;
	background-color: white;
}

/******************************************************************************/
/**
 * @mixin
 * @name box__title
 * @description block's title
 * @example
 * @include box__title;
 */
@mixin box__title {
  color: $box__title-color;
	font-size: $box__title-size;
}
