@charset "UTF-8";
@import './variables.scss';

body {
	background-color: $body__background-color;
  color: $body__text-color-primary;
}

.hero__section {
  background-color: white;
  border: 1px solid #e5e5e5;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-bottom: 10px;
}
