@charset "UTF-8";
@import '../../../styles/classes.scss';
@import '../../../styles/variables.scss';

.purchases-list {
  @include box--white;
  //margin-bottom: 10px;
}

.purchases-list__purchase-item {
  text-align: center;
  //color: $body-text-color-secundary;
}

.purchases-list__purchase-header {
  text-align: center;
  font-size: 1.1em;
}
