@charset "UTF-8";
@import '../../../styles/classes.scss';
@import '../../../styles/variables.scss';

.checkout-view__container {
	//@extend .row;
	//margin-bottom: 0px !important;
}

.checkout-view__form {}

.checkout-view__form__personal__information,
.checkout-view__form__shipping__information,
.checkout-view__form__billing__information {
	@include box--white;
}

.checkout-view__form__title {
	//@extend .row;
	margin-bottom: 0.5em !important;
	color:  $body__text-color-strong;
	font-size: 1.3em;
}

.checkout-view__form__billing__information--display-none {
	display: none;
}

.col .checkout-view__form__title {
	margin-left: 0em !important;
  margin-right: 0em !important;
}

.checkout-view__summary {
	@include box--white;
}

.checkout-view__summary__title {
	//@extend .row;
	margin-bottom: 0.5em !important;
	color:  $body__text-color-strong;
	font-size: 1.3em;
    /*font-weight: 100;*/
}

.checkout-view__summary__line {
	//@extend .row;
	margin-bottom: 0.5em !important;
}

.checkout-view__summary__line-total {
	//@extend .row;
	margin-bottom: 0.5em !important;
	color:  $body__text-color-strong;
}

.checkout-view__summary__line__price {
	text-align: right;
}

.checkout-view__summary__button {
	width: 100%;
}
