@charset "UTF-8";
@import '../../../styles/classes.scss';
@import '../../../styles/variables.scss';

.cart-view {
	//@extend .row;
	//margin-bottom: 0px !important;
	&__shipping {
		@include box--white;

		&__title {
			//@extend .row;
			margin-bottom: 0.5em !important;
			color:  $body__text-color-strong;
			font-size: 1.3em;
		    /*font-weight: 100;*/
		}

		&__label {
			color:  $body__text-color-secundary;
		}
	}

	&__summary {
		@include box--white;

		&__title {
			//@extend .row;
			margin-bottom: 0.5em !important;
			color:  $body__text-color-strong;
			font-size: 1.3em;
		    /*font-weight: 100;*/
		}

		&__line {
			//@extend .row;
			margin-bottom: 0.5em !important;
		}

		&__line-total {
			//@extend .row;
			margin-bottom: 0.5em !important;
			color:  $body__text-color-strong;
		}

		&__line__price {
			text-align: right;
		}

		&__button {
			width: 100%;
		}
	}
}
