.sherpon-preview-item-body {
	padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

.sherpon-preview-item-body-title {
	color: $sherpon-color-text-body !important;
    margin-bottom: 1em;
    margin-top: 0.75em;
}

.sherpon-preview-item-body-price {
}