@charset "UTF-8";
@import '../../styles/variables.scss';

.c-breadcrumb {
  padding: 0.5em 1em;


  .breadcrumb {
    color: $body__text-color-secundary !important;
    font-size: 12px !important;

    &:last-child {
        color: $body__text-color-secundary !important;
    }

    &:before {
        color: $body__text-color-secundary !important;
    }
  }
}
