.item-view-placeholder {
	background-color: white;
	border: 1px solid $sherpon-color-box-border;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	@extend .row;
	margin-bottom: 10px !important;
	padding: 1em 0em;
}